*{
    margin: 0;
    padding: 0;
}
button{
    height: 30px;
    border-radius: 30px;
    border-color: rgb(0, 143, 12);
    border-style: solid;
    height: 40px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    background-color: rgb(73, 233, 58);
}
body{
    position: relative;
    background: url('https://img.freepik.com/free-vector/background-seamless-pattern-vector-with-cute-memphis_53876-105506.jpg');
    background-size: contain;

}
input{
    border-radius: 30px;
    border-color: rgb(0, 143, 12);
    border-style: solid;
    height: 40px;
    width: 400px;
    padding: 0px 20px;
}
input:focus{
    border-color: aquamarine;
    border: none;
}
.area{
    position: fixed;
    width: 100%;
    height: 40vh;
    top: 90%;
    display: flex;
    justify-content: center;
}
.mystyle{
    padding: 5px 25px;
    background: #90db2d;
    height: auto;
    margin: 5px;
    border-radius: 30px;
    min-width: 10px;
    display: block;
    max-width: 400px;
    margin-left: 20px;
}
button:hover{
    background-color: #3b6602;
}
.fnt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
}